:root {
    --color-primary:lightcoral;
    --color-secundary: dimgrey;
    --color-tertiary: gainsboro;
}

body {
    background-color: var(--color-primary);
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

.container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-shadow: 5px 5px 5px var(--color-tertiary);
    border-radius: 20px;
}

.title {
    background-color: var(--color-tertiary);
    color: var(--color-secundary);
    padding: 20px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.tips-form {
    padding-left: 20px;
    padding-right: 20px;
}

.form-input {
    background-color: #fff;
    width: 40px;
    padding: 5px 5px 8px 8px;
}

.form-input:focus {
    border: 3px solid var(--color-primary);
    outline: none;
}

.form-select {
    width: 180px;
    padding: 5px;
    font-size: 12px;
}

.form-submit {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background-color: var(--color-primary);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: #fff;
}